MONGODB_URI=mongodb://localhost:27017
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
OPENAI_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434
HUGGINGFACEHUB_API_TOKEN=
GLASS_RAG_CONFIG=./config/app.example.yaml
